body {
  font-family: "Roboto", sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/031/383/original/pic3.jpg?1649474158);
  image-resolution: fixed;
  width: auto;
  height: auto;
  background-size: cover;
  margin: 50px;
}
h1 {
  color: #a2d0ca;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 38px;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}
ul {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  border-radius: 20px;
  padding: 8px;
  margin: 15px;
}
li {
  color: #1d242b;
  font-size: 18px;
  font-weight: 400;
  height: 19;
  line-height: 1.5;
  text-align: center;
  list-style: none;
}
footer {
  font-size: 14px;
  display: block;
  color: #01c0dc;
  text-align: center;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: auto;
}
.weather-app {
  padding: 20px;
  border-radius: 10px;
}

.search-form {
  margin: 15px;
  align-items: center;
}
.temperature {
  color: black;
  opacity: 0.8;
  font-size: 24px;
  font-weight: 500;
  height: 19;
  line-height: 1.5;
  text-align: center;
}
.btn-primary {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
.btn-primary :hover {
  opacity: 0.9;
  cursor: pointer;
}
.btn-secondary {
  background-color: #0c596b;
  border: none;
  text-align: center;
  padding: 5px;
}
.btn-secondary:hover {
  background-color: #a2d0ca;
  opacity: 0.9;
  cursor: pointer;
  border: none;
}
.enter-city {
  color: black;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 500;
  height: 19;
  line-height: 1.5;
  text-align: center;
}
#city-input {
  border-color: #a2d0ca;
  box-shadow: 0 0 10px #0c596b;
}
.weather-temperature .units {
  color: black;
  opacity: 0.8;
  position: relative;
  font-size: 16px;
  top: -9px;
}
.weather-forecast {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  border-radius: 20px;
  display: block;
  padding: 15px;
  margin: 15px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 20px;
  font-weight: 400;
  opacity: 1;
  color: #1d242b;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: #1d242b;
}
.open-source-code {
  color: #0c596b;
  font-weight: 600;
  text-decoration: none;
}
.open-source-code :hover {
  cursor: pointer;
  color: #01c0dc;
  transition: all 200ms ease-in-out;
}
